.inicio {
    background: linear-gradient(
        to top,
        rgb(231 246 255 / 75%), rgb(219 241 255)
      ),
    url(./public/fondo.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    color: #323232;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .inicio .contenido-banner {
    background-color: rgba(255, 255, 255, 0.13);
    width: 350px;
    height: 420px;
    text-align: center;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .inicio .contenido-banner img { 
    border: 3px solid #008ac9;
    width: 70%;
    border-radius: 50%;
    transition: 0.5s;
  }
  .inicio .contenido-banner img:hover {
    filter: sepia(1);
    transform: scale(1.1);
    transform: rotate(360deg);
  }
  .container-titles {
    display: flex;
    flex-direction: column;
  }
  .inicio .contenido-banner h1 {   
    font-size: 25px;
    font-family: "Righteous";
    margin: 0;
  }
  .inicio .contenido-banner h2 {
    font-size: 20px;
    font-weight: normal;
    margin: 0;
  }
  .inicio .contenido-banner .redes {
    display: flex;
    gap: 10px;
  }
  .inicio .contenido-banner .redes a, .contacto .redes a {
    color: #323232;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #323232;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    font-size: 20px;
    transition: 0.5s;
  }
  .inicio .contenido-banner .redes a:hover, .contacto .redes a:hover {
    background-color: #008ac9;
    transform: rotate(360deg);
  }
  .inicio button, .contacto button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #323232;
    border-radius: 5px;
    width: fit-content;
    font-size: 16px;
    color: #323232;
    position: relative;
    z-index: 10;
    margin: 0;
  }
  .inicio button .overlay, .contacto button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #008ac9;
    border-radius: 4px;
    z-index: -1;
    transition: 1s;
  }
  .inicio button:hover .overlay, .contacto button:hover .overlay {
    width: 100%;
    transition: 2s;
  }