.portfolio {
  background-color: #333;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f1f1f1;
}
.portfolio .contenido-seccion {
  width: -webkit-fill-available;
}
.portfolio h2 {
  font-size: 48px;
  font-family: "Righteous";
  font-weight: normal;
  text-align: center;
  padding: 20px 0;
}
.swiper-slide {
  width: 300px;
  height: 300px;
  padding: 40px;
  text-align: center;
}
.swiper-wrapper {
  display: flex;
}
.product-content {
  display: flex;
  justify-content: space-around;
  flex-direction: column-reverse;
  align-items: center;
  border-radius: 10px;
  transition: 1.1s;
}
.product-content:hover {
  transform: scale(1.05);
}
.product-img {
  flex-basis: 50%;
  text-align: right;
  background-color: transparent;
}
.product-img img {
  width: 298px;
  height: 200px;
  background-color: transparent;
  border-radius: 10px;
}
